**Python Variables**

In [43]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [44]:
y = 'Mint Chocolate chip'
y = 'Chocolate'
# we can assign one value to only one variable
Y = 'Mint Chocolate chip'
print(Y)
print(y)

Mint Chocolate chip
Chocolate

In [45]:
# Le's check the type of variables
type(y)

str

In [46]:
# let's assign multiple value to multiple variables
x,y,z = 'Chocolate', 'Vanilla', 'Strawberry'
print(x)
print(y)
print(z)

Chocolate
Vanilla
Strawberry

In [30]:
# let's assign one values to multiple variables
x=y=z = 'Chocolate'
print(x)
print(y)
print(z)

Chocolate
Chocolate
Chocolate

In [31]:
# let's assign the list to the multiple variables
ice_cream = ['chocolate', 'vanilla', 'stawberry']
x,y,z = ice_cream
print(x)
print(y)
print(z)

chocolate
vanilla
stawberry

In [32]:
# Camel Case
testVariableCase = 'Vanilla Swirl'
# Pascal case
TestVariableCase = 'Vanilla Swirl'
# Snake case
test_variable_case = 'Vanilla Swirl'
print(testVariableCase)
print(TestVariableCase)
print(test_variable_case)

Vanilla Swirl
Vanilla Swirl
Vanilla Swirl

In [33]:
testVar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_test_var = 'Vanilla Swirl'
TestVar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'
print(testVar)
print(test_var)
print(_test_var)
print(TestVar)
print(testVar2)

Vanilla Swirl
Vanilla Swirl
Vanilla Swirl
Vanilla Swirl
Vanilla Swirl

In [47]:
x= 'Ice Cream is my favorite' +  2
print(x)

TypeError: can only concatenate str (not "int") to str

In [48]:
y = 3+2
print(y)

5

In [49]:
x = 'Ice Cream'
y = 'is'
z = 'my favorite'
print(x,y,z)

Ice Cream is my favorite

In [50]:
x = ' Ice Cream'
y = ' is'
z = ' my favorite'
print(x+y+z)

 Ice Cream is my favorite

In [51]:
 # let's concatenate the variables
x = 1
y = 2
z = 3
print(x,y,z)
# let's concatenate the variables
x = 1
y = 2
z = 3
print(x+y+z)

1 2 3
6

**Python Data Types**

In [52]:
type(-10+100)

int

In [53]:
type(10+10.1)

float

In [54]:
type(10+2j)

complex

In [55]:
type(1>5)

bool

In [56]:
type('Ice Cream')

str

In [57]:
type(['Vanilla', 'Strawberry'])

list

In [58]:
# Strings
multiline = """ A dummy sentence is a placeholder
with no real meaning """
print(multiline)

 A dummy sentence is a placeholder
with no real meaning

In [59]:
'single quote'

'single quote'

In [60]:
"Double Quote"

'Double Quote'

In [61]:
"I've always wanted to eat a gallon of ice cream"

"I've always wanted to eat a gallon of ice cream"

In [62]:
type(multiline)

str

In [63]:
a = 'Hello world'
print(a[:5])

Hello

In [64]:
a = 'Hello World'
print(a[2:5])

llo

In [65]:
# let's print the hello world multiple times
a = "hello world"
print(a*3)

hello worldhello worldhello world

In [66]:
# Let's print the hello world 2 times
a = "hello world\n"
print(a+a)

hello world
hello world

In [67]:
# let's store several data types and lists in one list
ice_cream = ['chocolate', 3, ['sprinkles', 'chocolate']]
print(ice_cream)

['chocolate', 3, ['sprinkles', 'chocolate']]

In [68]:
ice_cream.append('salted caramel')
print(ice_cream)

['chocolate', 3, ['sprinkles', 'chocolate'], 'salted caramel']

In [69]:
ice_cream[0] = 'strawberry'
print(ice_cream)

['strawberry', 3, ['sprinkles', 'chocolate'], 'salted caramel']

In [70]:
# nested list
ice_cream = ['chocolate', 3, ['sprinkles', 'chocolate'], 'salted caramel', 0.10]
print(ice_cream[2][0])
print(ice_cream[2][1])
print(ice_cream[3])

sprinkles
chocolate
salted caramel

In [ ]:
# let's add remove element from list
ice_cream.remove('salted caramel')
print(ice_cream)

In [ ]:
# Tuple is a built-in data structure, Tuples cannot be modified, added, or deleted once they’ve been created.
ice_cream = ('chocolate', 3, ['sprinkles', 'salted caramel', 0.10])
print(ice_cream)

In [ ]:
# Remove the element from tuple
a = ice_cream.remove('salted caramel')
print(a)
a = ice_cream.append('salted caramel')
print(a)

In [ ]:
# let's learn about 'set' data structure
daily_prints = {'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'}
print(daily_prints)
print(type(daily_prints))

In [ ]:
# Let's learn about dictionries
# The dictionary is not allow to the values have same elements, it's in ordered and changeable
thisdict = { 'brand': 'Ford', 'model': 'Mustang', 'year': 1964 }
print(thisdict)
print(type(thisdict))
print(len(thisdict))

In [ ]:
# Let's access the dictionary key value
print(thisdict['brand'])
# Let's change the dictionary key value
thisdict['year'] = 2023
print(thisdict)
thisdict.update({'brand': 'abc'})
print(thisdict)
#Let's check the dictionary keys and values
print(thisdict.keys())
print(thisdict.values())

In [ ]:
# let's add the color item by using the update() method
thisdict.update({'color': 'red'})
print(thisdict)

In [ ]:
# Let's remove the dictionary items by using pop, popitem, del and clear methods

print(thisdict)

In [ ]:
#Print all key names in the dictionary, one by one:
thisdict = {'brand': 'abc', 'size': 10, 'color': 'blue'}
for x in thisdict:
  print(x)

In [ ]:
# Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

In [ ]:
for x in thisdict.keys():
 print(x)

In [ ]:
for x in thisdict.values():
  print(x)

In [ ]:
for x, y in thisdict.items():
  print(x, y)

In [ ]:
# Set is an unordered and unindex, it has only values and it's define by curly brackets and set() method
s = {'a', 'b', 'c', 'd'}
print(s)
print(type(s))
print(len(s))

In [ ]:
# Let's convert the list and tuple into set
l = ['a', 'b', 'c', 'd']
s = set(l)
print(s)
print(type(s))

t = ('a', 'b', 'c', 'd')
s = set(t)
print(type(s))

In [ ]:
# let's add and remove the sets values and set alsogive the answer randomly
s = {'a', 'b', 'c', 'd'}
s.add('e')
s.add('f')
print(s)

s.remove('f')
print(s)

In [ ]:
# Let's use pop function
print(s.pop())

In [ ]:
# Let's use remove function, this function will remove the given value
s.clear()
print(s)

In [ ]:
# Let's join the multiple sets
s1 = {'a', 'b', 'c', 'd'}
s2 = {'d', 'e', 'f'}
join_sets = s1.union(s2)
print(join_sets)

In [ ]:
# let's join the multiple sets by using this '|' symbol
join_sets = s1 | s2
print(join_sets)

In [ ]:
# let's get the same values from two sets
print(s1.intersection(s2))

In [ ]:
# let's get the same values from sets by using this '&' symbol
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)

**Python Operators**
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Membership Operators

In [ ]:
# Let's practice the Arithmetic operators
10+10
10-50
20*3
30/3
30%3
40**2
20//3

In [ ]:
# Let's practice the Assingnment operators
x = 10
x += 5
print(x)
x -= 5
print(x)
x *=5
print(x)
x /=5
print(x)
x %= 5
print(x)
x = 10
x **= 5
print(x)
x = 10
x //= 5
print(x)

In [ ]:
# Let's practice the comparison operators
x = 10
y = 5
print(x==y)
print(x!=y)
print(x<=y)
print(x>=y)
print(x>y)
print(x<y)

In [ ]:
# Let's practice the logical operators
x = 10
y = 5
print(x<y and x>y)
print(x<y or x>y)
print(not(x<y and x>y))

In [ ]:
# Let's practice the membership operators
x = ['apple', 'orange']
print('apple' in x)
print('mango' not in x)

**Python Conditions and If statements**

In [ ]:
# let's learn about if, elif and else statments
a = 100
b = 200
if b > a:
  print('b is greater than a')
elif a  == b:
  print('a and b are equal')
else:
  print('a is greater than b')

In [ ]:
# let's learn about the nested if statement
a = 300
if a > 200:
  print('a is greater than 200')
  if a == 300:
    print('a is equal to 300')
  elif a > 300:
    print('a is greater than 300')
  else:
    print('a is less than 300')

In [ ]:
# if statement in one line
if a > b: print('a is greater than b')

In [ ]:
# if else statement in one line
a = 200
b = 300
print('A') if a > b else print('B')

In [ ]:
# use if else statement with logical operators
a = 200
b = 300
if a > b and a < 100:
  print('a is greater than b and a is less than 100')
elif b > a:
  print('b is greater than a')
else:
  print('a is equal to b')

**Python Loops**

In [ ]:
numbers = [1,2,3,4,5]
for num in numbers:
  print(num)

In [ ]:
# Let's learn nested loop
ice_cream = ['chocolate', 'Vanilla', 'strawbery']
topping = ['oreo', 'fudge']
for x in ice_cream:
  for y in topping:
    print (x, y)

In [ ]:
x = ['Apple', 'Orange', 'Mango']
for y in x:
  if y == 'Orange':
    break
  print(y)

In [ ]:
x = ['Apple', 'Orange', 'Mango']
for y in x:
  if y == 'Orange':
    continue
  print(y)

In [ ]:
# With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
  print(i)
  i += 1

Python Functions

In [ ]:
# let's learn bout python functions
def first_func():
  print("Hello World")

In [ ]:
first_func()

In [ ]:
def my_func(a):
  print(a**3)

In [ ]:

my_func(5)

In [41]:
# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
num = (1,2,3,4,5)
def my_func(*args):
  print(args[3]+args[2])

In [42]:
my_func(*num)

7

**Python Casting**

In [73]:
x = 100
print(type(x))
y  = str(x)
print(type(y))
z = float(x)
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [75]:
x = 10.1
print(type(x))
y = str(x)
print(type(y))
z = int(x)
print(type(z))

<class 'float'>
<class 'str'>
<class 'int'>

In [80]:
x = 'Hello'
print(type(x))
z = float(x)
print(type(z))
y = int(x)
print(y)

<class 'str'>

ValueError: could not convert string to float: 'Hello'